.estrenos {
  width: 100%;
  height: auto;
  padding: 6rem 0 1rem 1.5rem;
}

.estrenos__wrapper .estrenos__title {
  padding-bottom: 3rem;
}

.estrenos__wrapper .estrenos__title h2 {
  color: var(--white-secondary);
  position: relative;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.7px;
}

.estrenos__wrapper .estrenos__title h2::before {
  content: "";
  width: 100%;
  max-width: 300px;
  height: 2px;
  display: block;
  position: absolute;
  bottom: -5px;
  background: rgb(9, 9, 9);
  background: linear-gradient(
    260deg,
    rgba(9, 9, 9, 1) 0%,
    rgba(193, 178, 39, 1) 95%
  );
}

.estrenos__cards {
  width: 100%;
  height: auto;
  display: none;
}

/*** Media Queries ***/

/* 768px */
@media (min-width: 48em) {
  .estrenos {
    padding: 6rem 0 1rem 3.5rem;
  }
}
