.footer {
  width: 100%;
  height: auto;
}

.footer__wrapper {
  width: 100%;
  height: auto;
  padding: 0 0 4rem;
}

.footer-subscribe {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.footer-subscribe .footer-subscribe__wrapper {
  background-color: var(--background-subscribe);
  width: 90%;
  padding: 3.5rem 1.5rem 3rem 2rem;
  border-radius: 6px 0px 0px 6px;
}

.footer-subscribe .footer-subscribe__wrapper h2 {
  color: var(--white);
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  letter-spacing: 0.02em;
  margin-bottom: 1.5rem;
}

.footer-subscribe .footer-subscribe__wrapper .footer-subscribe__text {
  color: var(--light-gray);
  font-family: "Exo 2", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  margin-bottom: 1.8rem;
}

.footer-subscribe .footer-subscribe__wrapper .footer-subscribe__input {
  border: 1px solid var(--yellow);
  position: relative;
  background-color: transparent;
  width: 95%;
  max-width: 320px;
  height: 58px;
  border-radius: 2px;
}

.footer-subscribe .footer-subscribe__wrapper .footer-subscribe__input::before {
  background-color: var(--background-subscribe);
  color: var(--yellow);
  content: "Tu correo";
  position: absolute;
  top: -12px;
  left: 16px;
  font-family: "Exo 2", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  padding: 0 10px;
}

.footer-subscribe .footer-subscribe__wrapper .footer-subscribe__input input {
  color: var(--white-secondary);
  font-family: "Exo 2", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  letter-spacing: 0.0406rem;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 0 0 1rem;
  border: none;
  outline: none;
}

.footer-subscribe
  .footer-subscribe__wrapper
  .footer-subscribe__privacy-policies {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 2rem;
}

.footer-subscribe__privacy-policies .footer-subscribe__switch--off,
.footer-subscribe__privacy-policies .footer-subscribe__switch--on {
  display: inline-flex;
  align-items: center;
  width: 70px;
  height: 30px;
  padding: 0 7px;
  border: 1px solid #606060;
  border-radius: 2px;
}

.footer-subscribe__privacy-policies .footer-subscribe__switch--off span {
  background-color: var(--gray-text);
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease;
}

/*** Transition for Switch component added from JavaScript ***/

.footer-subscribe__privacy-policies .footer-subscribe__switch--on span {
  background-color: var(--yellow);
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease;
  transform: translateX(calc(100% + 10px));
}

/*** End Transition for Switch component added from JavaScript ***/

.footer-subscribe__privacy-policies p {
  color: var(--gray-text);
  width: 100%;
  font-family: "Exo 2", sans-serif;
  font-size: 0.8125rem;
  letter-spacing: 0.1px;
  font-weight: 200;
  margin-left: 1em;
}

.footer-subscribe__privacy-policies p span {
  font-weight: 600;
}

.footer-subscribe__button {
  color: var(--white);
  background-color: var(--dark-gray);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 280px;
  height: 48px;
  font-family: "Exo 2", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  margin: 3rem 0 1rem;
}

.footer-subscribe__button::before,
.footer-subscribe__button::after {
  background-color: #1d1d1d;
  content: "";
  position: absolute;
}

.footer-subscribe__button::before {
  bottom: 0;
  right: 0;
  width: 0.2813rem;
  height: 0.2813rem;
}

.footer-subscribe__button::after {
  top: 0;
  left: 0;
  width: 0.1563rem;
  height: 0.1563rem;
}

.footer-subscribe__button:hover {
  background-color: #525252;
}

.footer-items {
  padding: 6.5rem 0 0 2rem;
}

.footer-items h3 {
  font-family: "Exo 2", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3125rem;
  color: #606060;
}

.footer-items .footer-items__resources {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.footer-items ul {
  color: var(--white);
  list-style: none;
  font-size: 1rem;
  padding: 0;
}

.footer-items ul li {
  font-family: "Exo 2", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  margin-bottom: 8px;
}

.footer-disclaymer {
  position: relative;
  padding: 0 2rem;
}

.footer-disclaymer::before {
  background-color: var(--yellow-secondary);
  content: "";
  position: absolute;
  top: -2rem;
  left: 2rem;
  width: calc(100% - 4rem);
  height: 1px;
}

.footer-disclaymer p {
  color: var(--white);
  font-family: "Exo 2", sans-serif;
  font-size: 0.6875rem;
  font-weight: 300;
  text-align: justify;
}

/*** Media Queries ***/

/* 768px */
@media (min-width: 48em) {
  .footer__wrapper {
    padding-top: 4rem;
  }

  .footer-subscribe .footer-subscribe__wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    min-height: 280px;
    padding: 3.5rem 1.5rem 3rem 3rem;
  }

  .footer-subscribe .footer-subscribe__wrapper h2 {
    width: min(25ch, 75%);
  }

  .footer-items {
    padding: 6.5rem 0 0 5rem;
  }

  .footer-items .footer-items__resources {
    grid-template-columns: minmax(min-content, 400px) auto;
    padding-top: 0;
  }

  .footer-disclaymer {
    padding: 0 5rem;
  }

  .footer-disclaymer::before {
    left: 5rem;
    width: calc(100% - 10rem);
  }
}

/* 1024px */
@media (min-width: 64em) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: minmax(min-content, 560px) 1fr;
    grid-template-rows: 1fr auto;
  }

  .footer-subscribe {
    grid-column: 2/-1;
    grid-row: 1/2;
    align-items: flex-start;
  }

  .footer-subscribe .footer-subscribe__wrapper {
    max-width: 430px;
    min-height: inherit;
  }

  .footer-items {
    padding: 0 0 0 5rem;
  }

  .footer-items .footer-items__resources {
    grid-template-columns: minmax(min-content, 230px) auto;
  }
}

/* 1240px */
@media (min-width: 77.5em) {
  .footer {
    overflow-x: hidden;
  }

  .footer__wrapper {
    grid-template-columns: minmax(min-content, 600px) 1fr;
    max-width: 1180px;
    margin: auto;
  }

  .footer-subscribe .footer-subscribe__wrapper {
    position: relative;
    min-height: 300px;
    padding: 2.5rem 1.5rem 3rem 3rem;
  }

  .footer-subscribe .footer-subscribe__wrapper::before {
    background-color: var(--background-subscribe);
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
  }

  .footer-information {
    display: flex;
    flex-flow: column wrap;
  }

  .footer-items {
    padding: 0 0 1rem 0;
  }

  .footer-items .footer-items__resources {
    grid-template-columns: repeat(3, minmax(min-content, 200px));
  }

  .footer-disclaymer {
    padding: 0;
  }

  .footer-disclaymer::before {
    left: 0;
    width: 100%;
  }
}

/* 1600px */
@media (min-width: 100em) {
  .footer__wrapper {
    grid-template-columns: minmax(min-content, 700px) 1fr;
    max-width: 1530px;
  }

  .footer-items .footer-items__resources {
    grid-template-columns: repeat(3, minmax(min-content, 230px));
  }

  .footer-subscribe .footer-subscribe__wrapper {
    max-width: 540px;
    min-height: 310px;
    padding: 4rem 1.5rem 3rem 5rem;
  }
}
