.hero {
  width: 100%;
  height: 600px;
  padding-top: 90px;
}

.hero__image {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 0;
}

.hero__image::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 180px;
  background: rgb(8, 8, 8);
  background: linear-gradient(
    0deg,
    rgb(9 9 9) 20%,
    rgba(8, 8, 8, 0.2007177871148459) 85%,
    rgba(8, 8, 8, 0) 100%
  );
  z-index: 0;
}

.hero__reserve {
  position: relative;
  top: -65%;
  width: 100%;
  max-width: 85%;
  height: auto;
  background-color: rgba(9, 9, 9, 0.9);
  border-radius: 6px;
  padding-bottom: 3rem;
  margin: auto;
}

.hero__reserve-wrapper {
  width: 100%;
  height: 100%;
}

.hero__reserve-loader {
  background: var(--yellow-secondary);
  display: block;
  width: 75%;
  height: 2px;
}

.hero__reserve-header .hero__reserve-loader {
  border-radius: 6px 0 0 0;
}

.hero__reserve-bullet {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hero__reserve-bullet li {
  background-color: var(--dark-gray);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 8px;
}

.hero__reserve-bullet li:last-child {
  margin-right: 0;
}

.hero__reserve-header .hero__reserve-bullet {
  padding: 1.2rem 2rem 0;
}

.hero__reserve-bullet li.hero__reserve-bullet--active {
  background-color: var(--yellow);
  width: 9px;
  height: 9px;
}

.hero__reserve-body {
  padding: 0 2rem;
}

.hero__reserve-body .hero__reserve-logo {
  display: block;
  width: 80%;
  max-width: 260px;
  margin: 2rem auto 1.5rem;
}

.hero__reserve-body h3 {
  color: var(--light-gray);
  max-width: 350px;
  font-family: "Exo 2", sans-serif;
  font-size: 1.1875rem;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0.2px;
  text-align: center;
  margin: 0 auto 3.2rem;
}

.hero__reserve-body .hero__reserve-cta {
  background-color: var(--cta-gray);
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: center;
  justify-items: center;
  width: 100%;
  max-width: 280px;
  height: 48px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  margin: auto;
}

.hero__reserve-body .hero__reserve-cta p {
  color: var(--black-text);
  font-family: "Exo 2", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
}

.hero__reserve-footer {
  display: none;
  position: relative;
  width: 100%;
  max-width: 60px;
  margin: 6rem 0 0 3rem;
}

.hero__reserve-footer .hero__reserve-buttons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  transition: background-color 0.1s ease-in-out;
}

.hero__reserve-footer .hero__reserve-buttons a:hover {
  background-color: rgb(255 255 255 / 20%);
}

.hero__reserve-footer .hero__reserve-bullet {
  align-items: center;
  justify-content: center;
  margin-top: 1.2rem;
}

/*** Media Queries ***/

/* 500px */
@media (min-width: 31.25em) {
  .hero__reserve {
    max-width: 458px;
  }
}

/* 768px */
@media (min-width: 48em) {
  .hero {
    height: 660px;
  }
}

/* 1024px */
@media (min-width: 64em) {
  .hero {
    height: 720px;
    padding-top: 75px;
  }

  .hero__reserve {
    position: absolute;
    top: 75px;
    right: 0;
    max-width: 45%;
    height: calc(720px - 90px);
    padding-bottom: 0;
    border-radius: 0;
  }

  .hero__reserve-wrapper {
    padding-top: 1rem;
  }

  .hero__reserve-header {
    visibility: hidden;
  }

  .hero__reserve-body .hero__reserve-logo {
    max-width: 230px;
  }

  .hero__reserve-body h3 {
    max-width: 312px;
    text-align: left;
  }

  .hero__reserve-body .hero__reserve-cta {
    max-width: 260px;
    grid-template-columns: 70% 30%;
  }

  .hero__reserve-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero__reserve-footer .hero__reserve-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .hero__reserve-footer .hero__reserve-loader {
    background-color: rgb(238, 216, 18, 0.3);
    position: absolute;
    bottom: -3rem;
    left: calc(-182px - 3rem);
    width: 182px;
    height: 2px;
    border-radius: 0;
  }

  .hero__reserve-loader .hero__reserve-loader-load {
    background-color: var(--yellow);
    display: block;
    width: 70%;
    height: 2px;
  }
}

/* 1240px */
@media (min-width: 77.5em) {
  .hero__reserve {
    max-width: 33.33%;
  }

  .hero__reserve-body .hero__reserve-logo {
    max-width: 270px;
  }

  .hero__reserve-body {
    padding: 0;
  }

  .hero__reserve-body .hero__reserve-logo {
    max-width: 65%;
  }
}

/* 1600px */
@media (min-width: 100em) {
  .hero {
    height: 85vh;
  }

  .hero__reserve {
    max-width: 38%;
    height: calc(85vh - 90px);
  }

  .hero__reserve-wrapper {
    padding-top: 4rem;
  }

  .hero__reserve-body .hero__reserve-logo {
    max-width: 55%;
  }

  .hero__reserve-body h3 {
    max-width: 424px;
    font-size: 1.5rem;
  }
}
