/*** Swiper ***/

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: initial !important;
  bottom: 2rem !important;
}

.swiper-pagination-bullet {
  background-color: var(--dark-gray);
  width: 7px;
  height: 7px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--yellow) !important;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  width: 10px;
  height: 10px;
  opacity: 1;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  top: 0 !important;
}

/*** End Swiper ***/

/*** Media Queries ***/

/* 1240px */
@media (min-width: 77.5em) {
  .lanzamientos__carousel-wrapper {
    max-width: 1240px;
    margin: auto;
  }
}

/* 1600px */
@media (min-width: 100em) {
  .lanzamientos__carousel-wrapper {
    max-width: 1620px;
    padding-bottom: 2rem;
  }
}
