.paladins-jumbotron {
  padding: 8rem 1.5rem 3rem;
  margin-bottom: 8rem;
}

.paladins-jumbotron__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 290px auto;
  width: 100%;
  max-width: 380px;
  height: 830px;
  background: linear-gradient(
    96.97deg,
    #ffb800 7.69%,
    #dbb11d 74.16%,
    #ffb800 91.61%
  );
  border-radius: 8px;
  margin: auto;
}

.paladins-jumbotron__characters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.paladins-jumbotron__characters img:first-child {
  position: relative;
  bottom: 6rem;
  width: 280px;
  height: 380px;
  object-fit: cover;
}

.paladins-jumbotron__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.paladins-jumbotron__characters img:nth-child(2),
.paladins-jumbotron__characters img:last-child {
  display: none;
}

.paladins-jumbotron__content .paladins-jumbotron__logo {
  width: 210px;
}

.paladins-jumbotron__content p {
  color: var(--jumbotron-paladins-text);
  font-family: "Exo 2", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 0 1rem;
  margin: 1.5rem 0 1rem;
}

.paladins-jumbotron__content p span {
  font-weight: 600;
}

.paladins-jumbotron__content .paladins-jumbotron__button {
  color: var(--white);
  background-color: var(--jumbotron-paladins-button);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 280px;
  height: 48px;
  font-family: "Exo 2", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  margin: 1rem 1rem 3.5rem;
}

.paladins-jumbotron__content .paladins-jumbotron__demo {
  width: 100%;
  object-fit: cover;
  border-radius: 0 0 8px 8px;
}

/*** Media Queries ***/

/* 320px */
@media (max-width: 20em) {
  .paladins-jumbotron__content .paladins-jumbotron__button {
    max-width: 230px;
  }
}

/* 768px */
@media (min-width: 48em) {
  .paladins-jumbotron {
    padding-top: 8rem;
  }
}

/* 1024px */
@media (min-width: 64em) {
  .paladins-jumbotron {
    padding-top: 0;
  }

  .paladins-jumbotron__wrapper {
    max-width: 500px;
  }
}

/* 1240px */
@media (min-width: 77.5em) {
  .paladins-jumbotron {
    margin-bottom: 2rem;
  }

  .paladins-jumbotron__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1180px;
    height: 490px;
    min-height: inherit;
  }

  .paladins-jumbotron__characters {
    grid-column: 2 / -1;
    grid-row: 1 /2;
    align-self: center;
    height: 100%;
  }

  .paladins-jumbotron__content {
    grid-column: 1 / 2;
    grid-row: 1 /2;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 0 0 6rem;
  }

  .paladins-jumbotron__content p {
    max-width: 65%;
    text-align: left;
    padding: 0;
    margin-bottom: 0;
  }

  .paladins-jumbotron__content .paladins-jumbotron__button {
    max-width: 250px;
    margin: 2rem 0;
  }

  .paladins-jumbotron__content .paladins-jumbotron__demo {
    max-width: 250px;
    height: 120px;
    border-radius: 0;
    object-fit: cover;
  }

  .paladins-jumbotron__characters img:first-child {
    z-index: 3;
    position: absolute;
    width: 240px;
    left: 12rem;
    bottom: 0;
    object-fit: contain;
  }

  .paladins-jumbotron__characters img:nth-child(2) {
    z-index: 1;
    display: block;
    position: absolute;
    width: 380px;
    height: 410px;
    bottom: 6.5rem;
    left: -1rem;
    object-fit: contain;
    transform: scaleX(-1);
  }

  .paladins-jumbotron__characters img:last-child {
    z-index: 0;
    display: block;
    position: absolute;
    right: -3rem;
    bottom: 0;
    width: 300px;
    height: 628px;
    object-fit: contain;
  }
}

/* 1600px */
@media (min-width: 100em) {
  .paladins-jumbotron__wrapper {
    max-width: 1530px;
    height: 570px;
  }

  .paladins-jumbotron__content {
    padding: 2rem 0 0 8rem;
  }

  .paladins-jumbotron__content .paladins-jumbotron__logo {
    width: 300px;
  }

  .paladins-jumbotron__content p {
    max-width: 60%;
    font-size: 1.45rem;
    line-height: 1.4;
  }

  .paladins-jumbotron__content .paladins-jumbotron__button {
    max-width: 300px;
  }

  .paladins-jumbotron__content .paladins-jumbotron__demo {
    max-width: 300px;
    height: 130px;
  }

  .paladins-jumbotron__characters img:first-child {
    left: 15rem;
    width: 320px;
    height: 450px;
  }

  .paladins-jumbotron__characters img:nth-child(2) {
    width: 520px;
    height: 540px;
  }

  .paladins-jumbotron__characters img:last-child {
    right: -2rem;
    width: 400px;
    height: 780px;
  }
}
