.paladins-jumbotron {
  padding: 8rem 1.5rem 0rem;
  margin-bottom: 1000px;
  border: 2px solid red;
}

.paladins-jumbotron__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 290px minmax(520px, auto);
  width: 100%;
  max-width: 380px;
  height: 100%;
  min-height: 830px;
  background: rgb(255, 211, 0);
  background: linear-gradient(
    140deg,
    rgb(255 199 0) 65%,
    rgb(255 199 2) 30%,
    rgb(239, 187, 0) 0%
  );
  border-radius: 8px;
  margin: auto;
}

.paladins-jumbotron__characters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.paladins-jumbotron__characters img:first-child {
  position: relative;
  bottom: 6rem;
  width: 280px;
  height: 380px;
  object-fit: cover;
}

.paladins-jumbotron__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.paladins-jumbotron__content .paladins-jumbotron__logo {
  width: 210px;
}

.paladins-jumbotron__content p {
  color: var(--jumbotron-paladins-text);
  font-family: "Exo 2", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 0 1rem;
  margin: 1.5rem 0 1rem;
}

.paladins-jumbotron__content p span {
  font-weight: 600;
}

.paladins-jumbotron__content .paladins-jumbotron__button {
  color: var(--white);
  background-color: var(--jumbotron-paladins-button);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 280px;
  height: 48px;
  font-family: "Exo 2", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  margin: 1rem 1rem 3.5rem;
}

.paladins-jumbotron__content .paladins-jumbotron__demo {
  width: 100%;
  object-fit: cover;
  border-radius: 0 0 8px 8px;
}

/*** Media Queries ***/

/* 320px */
@media (max-width: 20em) {
  .paladins-jumbotron__content .paladins-jumbotron__button {
    max-width: 230px;
  }
}

/* 1024px */
@media (min-width: 64em) {
  .paladins-jumbotron__wrapper {
    max-width: 500px;
  }
}

/* 1240px */
@media (min-width: 77.5em) {
  .paladins-jumbotron__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1180px;
    height: 470px;
    min-height: inherit;
    margin: auto;
  }

  .paladins-jumbotron__characters {
    grid-column: 2 / -1;
    grid-row: 1 /2;
  }

  .paladins-jumbotron__content {
    grid-column: 1 / 2;
    grid-row: 1 /2;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem 0 0 5rem;
  }

  .paladins-jumbotron__content p {
    text-align: left;
    padding: 0 9rem 0 0;
    margin-bottom: 0;
  }

  .paladins-jumbotron__content .paladins-jumbotron__button {
    max-width: 210px;
    margin: 2rem 0;
  }

  .paladins-jumbotron__content .paladins-jumbotron__demo {
    max-width: 300px;
    border-radius: 0;
    height: 120px;
    object-fit: cover;
  }
}
